@import "./variables.scss";
@import "./mixins.scss";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9990;
    
    .header-links-container {
        //color: $primary-color;
        margin-left: 5%;
        margin-top: 3%;
        display: flex;
        width: 90%;
        max-width: 450px;
        justify-content: space-between;
    
        a {
            font-size: 1.2em;
            color: inherit;
        }
    }
    
    h1 {
        color: inherit;
        font-size: 15vw;
        margin-top: 23%;
        margin-left: -8%;
        white-space: nowrap;
        @include transform(rotate(-30deg));
    }

    @media screen and (max-width: 450px) {
        .social-link {
            position: absolute;
            top: 60px;
        }
    }
}

