@import "./variables.scss";

.home {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0; left: 0;

    .background-image {
        display: block;
        background: url('../assets/shackletons-edited.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 17vh;
        height: 60vh;
        width: 60vw;
    }
}