@import "./variables.scss";

$modal-border-color: rgb(48, 48, 48);
$modal-border: 2px solid $modal-border-color;
$modal-bg: #ccc;
$mobileMax: 715px;
$headerHeight: 25px;

.modal {
	border: $modal-border;
	background-color: $modal-bg;

	&.hidden {
		visibility: hidden;
	}

	.modal-header {
        text-align: center;
		width: 100%;
		border-bottom: $modal-border;
		height: $headerHeight;
		padding: 0;

		.modal-close {
            z-index: 111;
			position: absolute;
			text-align: center;
			height: $headerHeight;
			width: $headerHeight;
			margin: 0;
			font-size: 25px;
			background-color: $modal-bg;
			div {
				margin-top: -5px;
			}
		}

		.modal-title {
            position: absolute;
            z-index: 110;
			background-color: $modal-bg;
			display: inline-block;
			height: $headerHeight - 5px;
            padding: 3px 12px 0 12px;
            margin-left: -30px;
		}

		.modal-lines {
            display: flex;
            flex-direction: column;
            padding: 3px 0 2px 0;
            justify-content: space-around;
            position: absolute;
            z-index: 100;
            width: 100%;
            height: $headerHeight - 5px;
            top: 0; left: 0;
			.modal-line {
                height: 2px;
                margin-right: 7px;
				background: $modal-border-color;
			}
		}
	}
}

@media (min-width: $mobileMax) {
	.modal {
		top: 10%;
		left: 50%;
		margin-left: -400px;
		z-index: 9999;
		width: 85%;
		max-width: 750px;
		height: 80vh;
		position: fixed;

		.modal-header {
			cursor: pointer;
		}
	}

	.hidden-desktop {
		display: none !important;
	}
}

@media (max-width: $mobileMax) {
	.modal {
		position: absolute;
		margin: 60px 0 !important;
		transform: translate(0, 0) !important;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.hidden-mobile {
		display: none !important;
	}
}
