@import "./variables.scss";

$modal-border: 2px solid rgb(48, 48, 48);
$modal-bg: #ccc;

.modal {
    top: 10%;
    left: 50%;
    z-index: 9999;
    width: 30vw;
    max-width: 800px;
    position: fixed;
    border: $modal-border;
    background-color: $modal-bg;

    .modal-header {
        text-align: center;
        width: 100%;
        border-bottom: $modal-border;
        height: 25px;
        padding-top: 5px;

        .modal-close {
            position: absolute;
            left: 7px;
        }
    }

    &.hidden {
        visibility: hidden;
    }
}