@import "./variables.scss";

.music-body,
.iframe-container {
	width: 100%;
    padding-bottom: 50px;
}

.music {
	width: 100%;
	height: calc(100% - 25px);
	overflow-x: hidden;
    overflow-y: scroll;
	iframe {
		width: 100%;
		border: 0;
	}
	.album {
		display: inline-block;
		iframe {
			height: 671px;
		}
	}

	.single {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	@media (max-width: $mobileMax) {
		.album {
            width: 100%;
		}
    }
    
    @media (min-width: $mobileMax) {
		.album {
            width: 50%;
		}
	}
}
